body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}
.link {
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
    display: inline-block;
}
.link:hover {
    font-size: 25px;
    text-decoration: underline;
}
span {
    position: fixed;
    top: 0px;
    z-index: 10;
    margin-top: 0px;
    background: white;
    width: 100%;
    position: sticky;
    float: inherit;
}
a {
    text-decoration: none;
    color: crimson;
    text-shadow: 2px 2px gainsboro;
}